// FONTS
$font: 'Montserrat', sans-serif;

//COLORS
$color-black: #000000;
$color-white: #FFFFFF;

// RULES
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: $font;
    color: $color-white;
}

.header {
    display: block;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-bottom: 10px;
    background-color: rgba($color: $color-black, $alpha: 0.6);

    &__nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    &__avatar {
        display: inline-block;
        padding: 10px 0 0 10px;
    }

    &__menu {
        display: inline-block;
        padding: 10px;
    }

    &__icon {
        margin-right: 10px;
        vertical-align: middle;
    }

    &__subheader {
        display: block;
        padding-left: 15px;
    }

    &__title {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
    }
}

.movie-list {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: $color-black;

    &__cover {
        background-size: cover;
        background-position: center bottom;

        &--large {
            display: block;
            position: relative;
            height: 70vh;
            width: 100%;
        }

        &--small {
            display: inline-block;
            position: relative;
            height: 25vh;
            width: 35%;
        }

        &--1 {
            background-image: url(../img/lost-in-translation-cover.jpg);
        }

        &--2 {
            background-image: url(../img/old-boy-cover.jpg);
        }

        &--3 {
            background-image: url(../img/moonrise-kingdom-cover.jpg);
            margin: 0 15px;
        }

        &--4 {
            background-image: url(../img/avengers-endgame-cover.jpg);
        }
    }

    &__position {
        display: flex;
        position: absolute;
        z-index: 99;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $color-black, $alpha: 0.6);

        &--large {
            height: 50px;
            width: 50px;
            top: 25%;
            right: 3%;
        }

        &--small {
            height: 40px;
            width: 40px;
            top: 0;
            right: 0;
            z-index: 99;
        }
    }

    &__number {
        &--large {
            font-size: 25px;
            font-weight: 700;
        }
    
        &--small {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__caroussel {
        display: block;
        overflow-x: scroll;
        height: 30vh;
        background-color: $color-black;
        white-space: nowrap;
        padding: 15px 20px 0 20px;
    }
}
                
.edit-button {
    display: block;
    position: absolute;
    bottom: 3%;
    right:3%;    
    z-index: 99;
    background-color: $color-white;
    padding: 18px;
    border-radius: 50%;

    &__img {
        vertical-align: middle;
    }
}